.lesson_list
{    
    .lesson_item
    {
        display: flex;
        justify-content: space-between;
        padding:10px 15px 10px 15px ;
        align-items: center;
        transition: all 0.3s ease-in-out;
        .icon_complete {
            color: #5db85c;
        }
        p {
            margin: 0;
            width: 150px;
        }
    }
    .lesson_item:hover
    {
        background-color: #edeff1;
        cursor: pointer;
    }
    .active
    {
        background: rgba(240,81,35,.2);
    }
    .lesson_item_lock
    {
        display: flex;
        background-color: #e7e7e7;
        opacity: .6;
        justify-content: space-between;
        padding:10px 15px 10px 15px ;
        align-items: center;
        transition: all 0.3s ease-in-out;
        p {
            margin: 0;
           width: 150px;
        }
        .icon_lock
        {
           color: #525f7f;
        }
    }
}