.blue {
    border-left-color: #e14eca!important;
    border-top-color: #e14eca!important;
    border-bottom-color: #e14eca!important;
    border-right-color: #e14eca!important;
}
// .forgot_password
// {
//     display: flex;
//    justify-content: center;
// }
.form-check
{
    display: flex;
    justify-content: space-between;
}